.page-footer {
    padding-top: 0;
    padding-bottom: 0;
}

.footer-copyright {
    display: flex;
    text-align: center;
    flex-direction: row;
    font-style: italic;
    font-weight: 600;
    box-shadow: 0px -5px 10px rgb(236, 236, 236);
    justify-content: space-around;
}

.card-panel {
    margin: 0;
    padding: 0;
}

.title {
    font-weight: 900;
    color: green;
    font-size: 1.1em;
}

.info {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-around;
    flex-grow: 4;
    font-weight: 900;
}

.art {}

.cop {
    display: inline-block;
    justify-content: space-around;
}

.direct {
    color: black;
}

a:link {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    transition: 0.5s;
}


/* footer {
        font-size: 1em;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    .info {
        display: flex;
        flex-direction: row;
        flex-grow: 4;
        flex-shrink: 0;
        color: white;
        background-color: rgb(68, 67, 67);
        justify-content: space-around;
    }
    
    .direct {
        display: flex;
        flex-direction: column;
        display: inline-block;
        margin: 5%;
    }
    
  
    
  
    .copyright {
        display: flex;
        text-align: center;
        flex-direction: row;
        font-style: italic;
        font-weight: 600;
        background-color: rgb(236, 236, 236);
        box-shadow: 0px -5px 10px rgb(236, 236, 236);
        justify-content: space-around;
    }
    
    .fin {
        justify-content: space-between;
    }
    
    .cop {
        display: inline-block;
        justify-content: space-around;
    }
     */